<div id="header">
  <div class="masthead clearfix nav-down">
    <div class="inner">
      <div class="masthead-brand"><a href="{{ path('app_home') }}"><img src="/bundles/app/images/b-logo-3.png" alt="brycestevens.me logo" /></a></div>
      <nav>
        <ul id="navigation" class="nav masthead-nav">
          <li><a id="home-button" href="{{ path('app_home') }}">Home</a></li>
          <li>//</li>
          <li><a id="about-button" href="{{ path('app_about') }}">About</a></li>
          <li>//</li>
          <li><a id="projects-button" href="{{ path('app_projects') }}">Projects</a></li>
          <li>//</li>
          <li><a id="contact-button" href="{{ path('app_contact') }}">Contact</a></li>
          <li>//</li>
          <li><a id="blog-button" href="{{ path('app_blog') }}">Blog</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
