<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ path('app_home') }}"><img src="{{ asset('bundles/app/images/b-logo-3.png') }}" alt="Brand" /></a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul id="navigation" class="nav navbar-nav">
        <li><a id="home-button" href="{{ path('app_home') }}">Home</a></li>
        <li><a id="about-button" href="{{ path('app_about') }}">About</a></li>
        <li><a id="projects-button" href="{{ path('app_projects') }}">Projects</a></li>
        <li><a id="contact-button" href="{{ path('app_contact') }}">Contact</a></li>
        <li><a id="blog-button" href="{{ path('app_blog') }}">Blog</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
