<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Official Site of Bryce Stevens{% endblock %}</title>
        {% block stylesheets %}
            <link href='https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic' rel='stylesheet' type='text/css'>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="{{ asset('/bundles/app/css/bootstrap.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('/bundles/app/css/index.css') }}" />
            <link rel="stylesheet" href="{{ asset('/bundles/app/css/cover.css') }}" />
            <link rel="stylesheet" href="{{ asset('/bundles/app/css/animsition.min.css') }}" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}

        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('/bundles/app/js/jquery-2.2.0.js') }}"></script>
            <script type="text/javascript" src="{{ asset('/bundles/app/js/jquery-ui.js') }}"></script>
            <script type="text/javascript" src="{{ asset('/bundles/app/js/bootstrap.js') }}"></script>
            <script type="text/javascript" src="{{ asset('/bundles/app/js/index.js') }}"></script>
            <script type="text/javascript" src="{{ asset('/bundles/app/js/animsition.min.js') }}"></script>
        {% endblock %}
    </body>
</html>