<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Official Site of Bryce Stevens{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/app/css/index.css') }}" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <meta name="google-site-verification" content="ubQf0nt4aukLcY4aurW97oIKoEzcm5g7-_5tNIIKi9k" />
</head>
    <body>
        {% block body %}{% endblock %}

        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('bundles/app/js/jquery-2.2.0.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/app/js/jquery-ui.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/app/js/bootstrap.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/app/js/index.js') }}"></script>
            {#<script type="text/javascript" src="{{ asset('/bundles/app/js/headerhide.js') }}"></script>#}
        {% endblock %}
    </body>
</html>