{% extends 'base.html.twig' %}


{% block body %}

        	{% include ('homepage/header.html.twig') %}
        <main class="container">

          <div id="blog" class="content">
              <div class="row">

                  <div class="blog-main">

                    {% for post in blogPosts %}
                      <div class="blog-post">
                          <h2 class="blog-post-title">{{ post.title }}</h2>
                          <p class="blog-post-meta">{{ post.date|date('F jS, Y') }} by <i>{{ post.author }}</i></p>

                          <div class="blog-post-text">{{ post.postText|slice(0,400)|nl2br  }}...</div>

                          <div class="blog-link-bottom"><a href="{{ path('app_blog_post', {'slug': post.slug}) }}"><div class="blog-triangle-right">*</div>View "{{ post.title }}"</a></div>
                      </div><!-- /.blog-post -->
                    {% endfor %}

                  </div><!-- /.blog-main -->

              </div><!-- /.row -->
          </div>
        </main>

    <script id="dsq-count-scr" src="//brycestevens.disqus.com/count.js" async></script>
{% endblock %}
