{% extends 'base.html.twig' %}

{% form_theme blogPostForm 'bootstrap_3_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css') }}" />
{% endblock %}

{% block body %}
  <div class="container">
    {{ form(blogPostForm) }}

    {% for blogPost in blogPosts %}
        <div class="panel panel-primary">
            <div class="panel-heading">{{ blogPost.title }} -- {{ blogPost.date|date('F jS, Y') }} -- {{ blogPost.author }} </div>
            <div class="panel-body">
                {{ blogPost.postText|nl2br }}
            </div>
            <div class="panel-footer">
                <a class="action_button" href="{{ path('app_blog_delete', {'id': blogPost.id}) }}">
                    <button type="button" class="glyphicon glyphicon-trash"></button>
                </a>
                <a class="action_button" href="{{ path('app_blog_update', {'id': blogPost.id}) }}">
                    <button type="button" class="glyphicon glyphicon-edit"></button>
                </a>
            </div>
        </div>
    {% endfor %}
  </div>
{% endblock %}
